<h1>Ooooops</h1>
<section class="menu">
    <div class="container">
        <div class="row">
            <ul class="nav nav-pills col-md-offset-2">
                <li role="presentation"><a href="http://localhost:63342/projectX/app/index.html#/">Home</a></li>
                <li role="presentation"><a href="http://localhost:63342/projectX/app/index.html#/profile">Profile</a></li>
                <li role="presentation"><a href="#/">Add Category</a></li>
                <li role="presentation"><a href="#/">Messages</a></li>
                <li role="presentation"><a href="#/">Messages</a></li>
                <li role="presentation"><a href="#/">Messages</a></li>
                <li role="presentation"><a href="#/" id="switch">Подствека</a></li>
            </ul>
        </div>
    </div>
</section>



